<div class="container">
   <div class="title">
  <h1>My Lists</h1>
   </div>
  <div class="flex-container">
    <% @lists.each do |list| %>
      <div class="card">
        <p><%= link_to list.title, list_path(list) %></p>
      </div>
    <% end %>
  </div>
</div>
