<div class="show-container">
  <div class="title-section">
    <h1 class="list-title"><%= @list.title %></h1>
  </div>

  <div class="tasks-section">
    <h2>Tasks</h2>
    <ul class="task-list">
      <% @tasks.each do |task| %>
        <li class="task-item"><%= task.title %></li>
      <% end %>
    </ul>
  </div>

  <div class="actions">
    <div class="new-task">
      <%= link_to "Add a new task :)", new_list_task_path(@list), class: "btn btn-add-task" %>
    </div>
    <div class="overview-link">
      <%= link_to "Back to overview", lists_path, class: "btn btn-overview" %>
    </div>
  </div>
</div>
